<h1 class="text-3xl text-center text-white">{{message}}</h1>
<h2 class="text-2xl text-center text-white mt-4">Plan Your Next Journey! Flight Booker Makes It Easy and Simple!</h2>
<p class="text-center text-white mt-2">You Deserve a Good Flight!</p>
<div class="text-center mt-4">
  <button class="bg-yellow-500 text-white font-bold py-2 px-4 rounded">Look For Flights</button>
  <button class="bg-yellow-500 text-white font-bold py-2 px-4 rounded ml-2">Scroll Down</button>
</div>


